body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #000;
    color: #fff;
}

.game-container {
    text-align: center;
}

input, select, button {
    margin: 10px;
    padding: 10px;
}

button {
    cursor: pointer;
}

#header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left:25%;
    background-color: #333
}
#recursos{
    display: flex;
    flex-direction: column;
}

#motor{
    left:35%;
    position: fixed;
    bottom: 0;
 }
 #ubicacion-nav{
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    position: fixed;
    top: 40%;
    left: 5%;
 }
#shield-interface,#propulsor-interface,#arma-interface,#tripulacion-interface,#motor-salto-interface{
    position: fixed;
    top: 30%;
    right: 5%;
}

.invisible{
    display: none;
}
.visible{
    display: block;
    position: absolute;
    width: 500px;
    height: 500px;
    left: 35%;
    top: 30%;
}