#header{
    width: 95%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    background-color: burlywood;
    margin: 15px;
}

#actual{
    float: left;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 15px;
    margin-right: 10px;
    margin-bottom: 30px;
    background-color: burlywood;
}
#lector{
    float: left;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 15px;
    margin-right: 10px;
    background-color: burlywood;
}

#right{
    flex-wrap: wrap;
    width: fit-content;
    padding: 15px;
    background-color: burlywood;
}

.tarjeta{
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    background-color: chocolate;
}